starcraft
bin
repl
*.tar
*.gz
*.xz
*.bz2
*.zst
*.zip
*.sdf
*.swo
*.swp
*.bak
*.suo
*.opensdf
*.dll
*.o
*.d
*.exe
*.pd_
*.bwta
*.db
*.ipch
*.opendb
*.db-shm
*.db-wal
*.iobj
*.ipdb
*.map
*.pdb
*.ilk
*.ERR
